<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite">
    <test name="RestAssured API Tests">
        <classes>
            <class name="APITests.ApiTest"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="UITests.SwoopTest"></class>
        </classes>
    </test>
    <test name="Login Tests">
        <classes>
            <class name="UITests.saucedemo.LoginTest"></class>
        </classes>
    </test>
</suite>